
[class*= "col-"]{
    text-align: center;
    margin-top: 30px;
}

img{
    height: 200px; 
}

h4{
    margin-top: 20px;
}

.blue-img{
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
  }

.yellow-row{
    background-color: #F2F2CD;
}

